form {
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-family: sans-serif;
}

input {
    width: 70%;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
}

select {
    width: 70%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
}

.custom-submit-button{
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

input[type="submit"].custom-submit-button:hover {
  border: 1px solid black;
}
