form {
    width: 40%;
    margin: 0;
    margin-left : 25%;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-family: "Lexend";
    font-weight: bold;
}

input {
    width: 90%;
    font-family: "Lexend";
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
}

select {
    width: 93%;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    font-family: "Lexend";
}

/* Class formatting response for succesful submission */
.response{
        font-family: "Lexend";
    text-align: center;
}

.custom-submit-button{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 20%;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

/* On hover, outline buttton in black */
input[type="submit"].custom-submit-button:hover {
  border: 1px solid black;
}
